/* file này để tạo các biến css  */
:root {
    --primaryColor: #F2804C;
    --backgroundColorLight: #ffffffff;
    --backgroundColorDark: #F2F2F2;
    --fontFamily1: 'Red Hat Mono', monospace;
    --fontFamily2: 'Roboto', sans-serif
}