/* .header {
    ba
} */

.scroll {
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header__container {
  height: 100px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
}

.header__logo a {
  display: block;
  font-family: var(--fontFamily1);
  color: var(--primaryColor);
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
}
.header__logo > a > img {
  height: 45px;
}

.list__items {
  font-family: var(--fontFamily2);
  display: flex;
  font-weight: 400;
}

.item {
  padding: 0 15px;
  color: white;
}

.item:hover {
  color: var(--primaryColor);
  transition: all 0.3s ease;
}

.header__phone {
  text-align: center;
  margin-left: 20px;
  height: 33px;
  line-height: 33px;
  padding: 0 30px !important;
  margin-top: 10px;
}
