.feedback {
    background-color: var(--backgroundDark);
    padding: 70px 0;
}

.feedback__container {
    width: 1200px;
    margin: 0 auto;
}

.feedback__title {
    text-align: center;
    padding: 0 0 50px 0;
}

.feedback__title p {
    font-family: var(--fontFamily1);
}

.feedback__title h2 {
    font-size: 2rem;
    font-family: var(--fontFamily1);
    font-weight: 400;
    opacity: 0.8;
}

.feedback__content {
    display: flex;
    justify-content: space-around;
}

.feedback__content--item {
    display: block;
    max-width: 275px;
    background-color: white;
    padding: 20px;
    color: rgb(71, 70, 70);
    font-family: var(--fontFamily1);
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.feedback__content--item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease;
}

.feedback__icon {
    text-align: center;
    font-size: 50px;
    opacity: 0.8;

}

.feedback__content--item span {
    display: block;
    text-align: center;
}

.feedback__content--item span:first-child {
    color: var(--primaryColor);
    font-weight: 500;
    padding: 10px 0;
}